body {
  background-color: #003366 !important;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0 15rem 0 15rem;
}

.banner-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  padding: 20rem 3rem 3rem 3rem;
  margin: 0 1rem 1rem 1rem;
  background-image: url(/img/banner-article.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 6px 6px 6px 0 #00000019;
  border-radius: 0.5rem;
  color: #fff;

  h1 {
    font-size: 3rem;
  }
}

/* From Uiverse.io by LightAndy1 */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(0, 48, 73, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(0 48 73 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

.container-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 5rem;
  background-color: #fff;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: 1px solid #00000074;
  border-radius: 0.5rem;
  padding: 4rem;
  margin: 1rem;
  box-shadow: 6px 6px 6px 0 #00000006;

  & p {
    font-size: 1rem;
    font-weight: 600;
    color: #003366;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: #0066cc;
    }
  }
}

.container-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 5rem 1rem 5rem 1rem;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  width: 27rem;
  text-decoration: none;
  color: #000;

  & img {
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
    border: 1px solid #00000074;
    box-shadow: 5px 4px 4px 0 #00000011;
  }

  & h2 {
    font-size: 1.2rem;
  }
}
