@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #fff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 10px 30px;
    background: -webkit-linear-gradient(250deg,#003366 40%, #0066CC 150%);
    box-shadow: 0 0 10px 1px #00000074;
    width: 100%;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    & h1{
        font-size: 2rem;
        color: #fff;
    }

    & input{
        border: none;
        outline: none;
        border-radius: 5px;
        width: 100%;
        height: 30px;
        padding: 0 10px;
    }

}

.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;  

    & a{
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        transition: 0.5s;
    }

    & a:hover{
        transform: translateY(-5px);
    }
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;

    & button{
        cursor: pointer;
        background-color: #0066CC;
        border: none;
        border-radius: 5px;
        width: 8rem;
        height: 2.5rem;
        padding: 5px 10px;
        transition: 0.5s;

        & a{
            text-decoration: none;
            color: #fff;
            font-size: 1.2rem;
        }

        &:hover{
            scale: 1.02;
        }
    }
}

.container-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 10rem;
    background-color: #fff;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 1px solid #00000074;
    border-radius: 0.5rem;
    padding: 4rem;
    box-shadow: 6px 6px 6px 0 #00000006;

    & p{
        font-size: 1rem;
        font-weight: 600;
        color: #003366;
        cursor: pointer;
        transition: 0.3s;

        &:hover{
            color: #0066CC;
        }
    }
}

.container-article {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 5rem 0;
    gap: 5rem;
}

.article {
    display: flex;
    margin: 1rem;

    & .article-image{
        width: 20rem;

        & img{
            width: 100%;
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: -webkit-linear-gradient(250deg,#003366 40%, #0066CC 150%);
    box-shadow: 0 0 10px 1px #00000074;
    width: 100%;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    & h1{
        font-size: 2rem;
        color: #fff;
    }
}

.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    & a{
        text-decoration: none;
        color: #fff;    
    }
}