.container-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 10rem 0 5rem 0;
    margin: 0 15rem 0 15rem;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 30rem;
}